[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EFDR"]
	path = EFDR
	url = https://github.com/andrewzm/efdr
[submodule "FRK"]
	path = FRK
	url = https://github.com/andrewzm/frk
[submodule "IDE"]
	path = IDE
	url = https://github.com/andrewzm/ide
[submodule "sparseinv"]
	path = sparseinv
	url = https://github.com/andrewzm/sparseinv
